body {
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  font-family: Arial, sans-serif;
  text-align: center;
}

header {
  background-color: #651e94;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


header .titulo {
  font-weight: bold;
  margin-left: 15px;
}

header .usuario {
  margin-right: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  max-width: 400px;
  width: 90%;
  text-align: left;
}

.card h2 {
  text-align: center;
  margin-top: 0;
  color: #651e9c;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.btn {
  padding: 12px;
  background-color: #651e9c;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #4e1580;
}

.status-bar {
  background-color: green;
  color: white;
  padding: 4px 10px;
  font-size: 14px;
}
